@page "/"
@using Syncfusion.Blazor.DropDowns
@using System.Globalization

<h1>Dynamic Data Grid!</h1>
<br/>

<SfDropDownList DataSource="@Cultures" Placeholder="Select language.." TItem="string" TValue="string" Value=@(selectedCulture) ValueChanged="ChangeCulture">
</SfDropDownList>
<br/>
<br/>
<br/>

@*
Parameters:
[Required] ItemsJsonSchema
[Required] TableUiSchema
[Optional] TranslationSchema
*@
<DynamicSfGrid 
    ItemsJsonSchema="@ExampleConstants.JsonSchema" 
    TableUiSchema="@ExampleConstants.TableUiSchema"
    TranslationSchema="@ExampleConstants.TranslationSchema" />

@code{
    List<string> Cultures = new List<string>
    {
        "en-US",
        "nl-NL"
    };

    string? selectedCulture;

    List<double> selectedTaggedValues = [];

    void SetSelectedTaggedValues(double[] values) => selectedTaggedValues = values.ToList();

    protected override void OnInitialized()
    {
        selectedCulture = Cultures[0];
        base.OnInitialized();
    }

    void ChangeCulture(string value)
    {
        DynamicGridCulture.Instance = new CultureInfo(value);
        selectedCulture = DynamicGridCulture.Instance.Name;
        InvokeAsync(StateHasChanged);
    }
}
